body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:280px;
  height:310px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:120px;
  width:240px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:167px;
  width:240px;
  height:25px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:61px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(68, 147, 219, 1) 0%, rgba(68, 147, 219, 1) 0%, rgba(27, 116, 194, 1) 100%, rgba(27, 116, 194, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(68, 147, 219, 1) 0%, rgba(68, 147, 219, 1) 0%, rgba(27, 116, 194, 1) 100%, rgba(27, 116, 194, 1) 100%);
  background:linear-gradient(180deg, rgba(68, 147, 219, 1) 0%, rgba(68, 147, 219, 1) 0%, rgba(27, 116, 194, 1) 100%, rgba(27, 116, 194, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:230px;
  width:240px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366FF;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:290px;
  width:71px;
  height:17px;
  color:#3366FF;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:280px;
  height:310px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:105px;
  width:240px;
  height:25px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:145px;
  width:240px;
  height:25px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:61px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(68, 147, 219, 1) 0%, rgba(68, 147, 219, 1) 0%, rgba(27, 116, 194, 1) 100%, rgba(27, 116, 194, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(68, 147, 219, 1) 0%, rgba(68, 147, 219, 1) 0%, rgba(27, 116, 194, 1) 100%, rgba(27, 116, 194, 1) 100%);
  background:linear-gradient(180deg, rgba(68, 147, 219, 1) 0%, rgba(68, 147, 219, 1) 0%, rgba(27, 116, 194, 1) 100%, rgba(27, 116, 194, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:230px;
  width:240px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  word-wrap:break-word;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366FF;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:290px;
  width:127px;
  height:17px;
  color:#3366FF;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:185px;
  width:240px;
  height:25px;
}
#u92_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:280px;
  height:310px;
  overflow:hidden;
}
#u93_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:310px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u93_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:310px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:240px;
  height:25px;
}
#u95_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:147px;
  width:240px;
  height:25px;
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:41px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(68, 147, 219, 1) 0%, rgba(68, 147, 219, 1) 0%, rgba(27, 116, 194, 1) 100%, rgba(27, 116, 194, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(68, 147, 219, 1) 0%, rgba(68, 147, 219, 1) 0%, rgba(27, 116, 194, 1) 100%, rgba(27, 116, 194, 1) 100%);
  background:linear-gradient(180deg, rgba(68, 147, 219, 1) 0%, rgba(68, 147, 219, 1) 0%, rgba(27, 116, 194, 1) 100%, rgba(27, 116, 194, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:210px;
  width:240px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  word-wrap:break-word;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366FF;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:270px;
  width:71px;
  height:17px;
  color:#3366FF;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u93_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:310px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u93_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:310px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:85px;
  width:240px;
  height:25px;
}
#u101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:125px;
  width:240px;
  height:25px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:41px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(68, 147, 219, 1) 0%, rgba(68, 147, 219, 1) 0%, rgba(27, 116, 194, 1) 100%, rgba(27, 116, 194, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(68, 147, 219, 1) 0%, rgba(68, 147, 219, 1) 0%, rgba(27, 116, 194, 1) 100%, rgba(27, 116, 194, 1) 100%);
  background:linear-gradient(180deg, rgba(68, 147, 219, 1) 0%, rgba(68, 147, 219, 1) 0%, rgba(27, 116, 194, 1) 100%, rgba(27, 116, 194, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:210px;
  width:240px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  word-wrap:break-word;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366FF;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:270px;
  width:127px;
  height:17px;
  color:#3366FF;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:165px;
  width:240px;
  height:25px;
}
#u106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
